// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary-dark: #322d23;
$secondary: #d1c7bd;
$middle-brown: #ad9b8e;
$text-color: #d9d9d9;
$white: #ffffff;
$button-dark: #322d29;
$middle-grey: #9e9da2;
$background-color: #f9f9f9;
$very-dark-brown: #272042;
$dark-grey: #8b8ba5;
$light-grey: #ececec;
